.pekwm/history
config/chromium
config/mpd
config/ranger
config/pulse
config/vlc
config/Trolltech.conf
config/gtk-2.0/gtkfilechooser.ini
config/htop
config/configstore
config/menus
config/mps-youtube
cache
