.pekwm/history
config/gtk-2.0/gtkfilechooser.ini
config/higan
config/gconf
config/transmission
config/transmission-daemon
config/chromium
config/mpd
config/ranger
config/pulse
config/vlc
config/Trolltech.conf
config/gtk-2.0/gtkfilechooser.ini
config/htop
config/configstore
config/menus
config/mps-youtube
config/mimeapps.list
cache
config/ImageMagick/
config/Trolltech
config/VirtualBox/
config/mps-youtube/
config/mpv
config/ananke
config/phoenix
config/Thunar
config/scudcloud
config/Skype/
config/dconf/
config/deluge/
config/gtk-3.0/
config/subtitleeditor/
config/user-dirs.dirs
config/user-dirs.locale
config/xfce4
config/setroot
config/rtv
config/feednix
config/inkscape
config/gpick
config/lxterminal
config/sublime-text-2
