.pekwm/history
cache
config/ananke
config/chromium
config/configstore
config/dconf
config/deluge
config/feednix
config/gconf
config/gpick
config/gtk-2.0/gtkfilechooser.ini
config/gtk-3.0
config/higan
config/htop
config/ImageMagick
config/inkscape
config/libfm
config/lxpanel
config/lxsession
config/lxterminal
config/menus
config/mimeapps.list
config/mpd
config/mps-youtube
config/mpv
config/ncmpcpp/error.log
config/pcmanfm
config/phoenix
config/pulse
config/qutebrowser/bookmarks
config/qutebrowser/qsettings
config/qutebrowser/quickmarks
config/ranger
config/rtv
config/scudcloud
config/setroot
config/Skype
config/Slack
config/sublime-text-2
config/sublime-text-3
config/subtitleeditor
config/terminator
config/Thunar
config/transmission
config/transmission-daemon
config/Trolltech
config/Trolltech.conf
config/user-dirs.dirs
config/user-dirs.locale
config/VirtualBox
config/vlc
config/xfce4
