[submodule "config/nvim/pack/fedemp/start/vim-dirvish"]
	path = config/nvim/pack/fedemp/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "config/nvim/pack/fedemp/start/apprentice"]
	path = config/nvim/pack/fedemp/start/apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "config/nvim/pack/fedemp/start/editorconfig-vim"]
	path = config/nvim/pack/fedemp/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "config/nvim/pack/fedemp/start/vim-javascript"]
	path = config/nvim/pack/fedemp/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "config/nvim/pack/fedemp/start/vim-surrond"]
	path = config/nvim/pack/fedemp/start/vim-surrond
	url = https://github.com/tpope/vim-surround.git
[submodule "config/nvim/pack/fedemp/start/vim-jsx-pretty"]
	path = config/nvim/pack/fedemp/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule "config/nvim/pack/fedemp/start/papercolor"]
	path = config/nvim/pack/fedemp/start/papercolor
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "config/nvim/pack/fedemp/start/vim-fugitive"]
	path = config/nvim/pack/fedemp/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "config/nvim/pack/fedemp/start/yats.vim"]
	path = config/nvim/pack/fedemp/start/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim
[submodule "config/nvim/pack/fedemp/start/vim-sensible"]
	path = config/nvim/pack/fedemp/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "config/nvim/pack/fedemp/start/lightline.vim"]
	path = config/nvim/pack/fedemp/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "config/nvim/pack/fedemp/start/auto-pairs"]
	path = config/nvim/pack/fedemp/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
