# Search history based on the prefix already typed
"\e[A": history-search-backward
"\e[B": history-search-forward

# Autocomplete on tab
TAB: menu-complete
"\e[Z": menu-complete-backward

set menu-complete-display-prefix on
set show-all-if-ambiguous on
set completion-query-items 0

# Move cursor to end of word after completion
set skip-completed-text on

set enable-bracketed-paste on

# Display completion matches in colors based on LS_COLORS
set colored-stats on


# Customize the colors for the menu and selected items
"\e[31m": "\e[37m"  # Set the background color to red and foreground color to white
"\e[37m": "\e[31m"  # Set the background color to white and foreground color to red
