! Xft settings ---------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault

URxvt*buffered: true
URxvt*cursorBlink: false
URxvt.cursorUnderline: false
URxvt*underlineColor: #93a1a1
URxvt*font:                 xft:Dina
URxvt*imFont:               xft:Dina
URxvt*boldFont:             xft:Dina
URxvt*italicFont:           xft:Dina
URxvt*boldItalicFont:       xft:Dina
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode-256color
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.letterSpace: 0
URxvt.iconFile: /usr/share/icons/Faenza/apps/scalable/utilities-terminal.svg
URxvt.intensityStyles: false
