@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

hbox#liberator-bottombar stack#liberator-bottombar-deck toolbar#liberator-statusline {
	color: #bcbcbc !important;
	background: #262626!important;
	padding:0 !important;
	margin:0 !important;
}

toolbox#navigator-toolbox {
	background: #262626 !important;
	color: #bcbcbc !important;
}

#main-window[defaultfxtheme="true"] toolbar#TabsToolbar tabs#tabbrowser-tabs tab.tabbrowser-tab {
	color: #bcbcbc !important;
	font: 11px envypn !important;
}

#main-window[defaultfxtheme="true"] toolbar#TabsToolbar tabs#tabbrowser-tabs .tabbrowser-tab[selected="true"]:not(:-moz-lwtheme){
	background: #87875f !important;
	border-radius: 0 !important;
	color: #bcbcbc !important;
}

#main-window[defaultfxtheme="true"] toolbar#TabsToolbar tabs#tabbrowser-tabs .tabbrowser-tab:not(:-moz-lwtheme){
	color: #bcbcbc !important;
}

#main-window .tabbrowser-tabs .tab-content[selected=true] {

 color: #1c1c1c !important;
background: #87875f !important;

}

#main-window .tabbrowser-tabs .tab-content {

 padding: 0 5px !important;  /* That's Numberwang! */

 color: #bcbcbc !important;

}

#main-window .tabbrowser-tabs {

 -moz-appearance: none !important;

 margin-left: 4px !important;

 min-height: 0 !important;

 z-index: 1 !important;

}

/*    */

#main-window .tabbrowser-tabs .tab-background-start,

#main-window .tabbrowser-tabs .tab-background-end {

 display: none !important;

}
#main-window .tabbrowser-tabs .tab-background {

 margin: 0 !important;

 background: transparent !important;

}

/* Firefox or Thunderbird FlatStudio Tabs (like tabs-2.css)

 * (c) 2013–2014 Scott Zeid <s.zeid.me>.

 * 

 * Contains code from Mozilla Firefox 29, specifically

 * <chrome://browser/skin/browser.css> and

 * <chrome://global/skin/icons/close.svg>.

 * 

 * This Source Code Form is subject to the terms of the Mozilla Public

 * License, v. 2.0. If a copy of the MPL was not distributed with this

 * file, You can obtain one at https://mozilla.org/MPL/2.0/.

 * 

 * For use with the default themes in Firefox or Thunderbird.

 * 

 * Note:  In order to make maintenance easier, the same code is used for

 * both the Firefox and Thunderbird versions of this style.  The *only*

 * change necessary for Thunderbird is to replace all instances of

 * "(#)TabsToolbar" with "(#)tabs-toolbar" and to replace all instances of

 * "(.)tabbrowser" with "(.)tabmail" (ignore the parentheses):

 *

 * Vim:  :%s/\(#\)TabsToolbar/\1tabs-toolbar/g|%s/\(\.\)tabbrowser/\1tabmail/g

 * Sed:  sed -e 's/\(#\)TabsToolbar/\1tabs-toolbar/g;s/\(\.\)tabbrowser/\1tabmail/g'

 * 

 * To change it back:

 * 

 * Vim:  :%s/\(#\)tabs-toolbar/\1TabsToolbar/g|%s/\(\.\)tabmail/\1tabbrowser/g

 * Sed:  sed -e 's/\(#\)tabs-toolbar/\1TabsToolbar/g;s/\(\.\)tabmail/\1tabbrowser/g'

 * 

 */



@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);



#TabsToolbar {

 padding-right: 4px !important;

}



.tabbrowser-tabs {

 -moz-appearance: none !important;

 margin-left: 4px !important;

 min-height: 0 !important;

 z-index: 1 !important;

}



/* Must be `... > scrollbox`, not `... > .arrowscrollbox-scrollbox`

   for Thunderbird */

.tabbrowser-tabs .tabbrowser-arrowscrollbox > scrollbox {

 padding: 0 !important;

}



.tabbrowser-tabs .tabbrowser-arrowscrollbox > .scrollbutton-up:not([disabled]),

.tabbrowser-tabs .tabbrowser-arrowscrollbox > .scrollbutton-down:not([disabled]) {

 border-style: none !important;

}



.tabbrowser-tabs .scrollbutton-up {

 padding-left: 3px !important;

}



.tabbrowser-tabs .scrollbutton-up[disabled="true"] {

 padding-left: 1px !important;

}



/* margin-right has to be done on .tab-stack, not tab; otherwise pinned tabs

   will not work correctly in overflow mode */

.tabbrowser-tabs .tab-stack {

 height: 26px !important;  /* That's Numberwang! */

 margin-right: 4px !important;  /* That's Numberwang! */

}



.tabbrowser-tabs .tab-background {

 margin: 0 !important;

 background: transparent !important;

}



.tabbrowser-tabs .tab-background[selected=true] {

 background: Highlight !important;

}



.tabbrowser-tabs .tab-background-start,

.tabbrowser-tabs .tab-background-end {

 display: none !important;

}



/* Making this display: none; causes tabs to not respond to clicks */

.tabbrowser-tabs .tab-background-middle {

 margin: 0 !important;

 border-style: none !important;

 background: transparent !important;

}



.tabbrowser-tabs .tab-content {

 padding: 0 5px !important;  /* That's Numberwang! */

 color: inherit !important;

}



.tabbrowser-tabs .tab-content[selected=true] {

 color: HighlightText !important;

}



/* Fix position of title-changed-in-pinned-tab indicator */

.tabbrowser-tabs .tabbrowser-tab[pinned][titlechanged]:not([selected="true"]) > .tab-stack > .tab-content {

 background-position: center bottom 0 !important;

}



.tabbrowser-tabs .tab-throbber,

.tabbrowser-tabs .tab-icon-image {

 margin-top: 0 !important;

}



.tabbrowser-tabs .tab-close-button {

 margin: -1px 0 0 5px !important;

}



/* Close button icon */



.tabbrowser-tabs .tab-close-button,

#TabsToolbar .tabs-closebutton {

 -moz-appearance: none !important;

 width: 16px !important; height: 16px !important;

 background-repeat: no-repeat !important;

 list-style-image: none !important;

 color: inherit !important;

}



.tabbrowser-tabs .tab-close-button:not([selected]):not(:hover),

.tabbrowser-tabs .tab-close-button[selected]:not(:hover),

#TabsToolbar .tabs-closebutton:not([selected]):not(:hover),

#TabsToolbar .tabs-closebutton[selected]:not(:hover) {

 opacity: 0.9 !important;

 background-image:  /* You've been Wangernumbed! */

  radial-gradient(circle 2px at 8px    8px,    currentColor 0%, currentColor 2px, transparent 2px),

  radial-gradient(circle 1px at 4.5px  5.5px,  currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 5.5px  4.5px,  currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 6px    6px,    currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 10.5px 4.5px,  currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 11.5px 5.5px,  currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 10px   6px,    currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 4.5px  10.5px, currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 5.5px  11.5px, currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 6px    10px,   currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 10.5px 11.5px, currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 11.5px 10.5px, currentColor 0%, currentColor 1px, transparent 1px),

  radial-gradient(circle 1px at 10px   10px,   currentColor 0%, currentColor 1px, transparent 1px)

  !important;

}



/* The hover images are from FX 29's <chrome://global/skin/icons/close.svg>,

   simplified by hand and with extra glyphs and styles removed.

   

   These are used in both pre-Australis and Australis for consistency with

   the non-hover icon emulated above with that ugly radial-gradient code. */



.tabbrowser-tabs .tab-close-button:hover,

#TabsToolbar .tabs-closebutton:hover {

 background-image: url("data:image/svg+xml,<%3Fxml version%3D%221.0%22 encoding%3D%22utf-8%22%3F>%0A<%21DOCTYPE svg PUBLIC %22-//W3C//DTD SVG 1.1//EN%22 %22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22>%0A%0A<svg version%3D%221.1%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A     id%3D%22icon-close%22 x%3D%220px%22 y%3D%220px%22 width%3D%2216px%22 height%3D%2216px%22 viewBox%3D%220 0 16 16%22>%0A <defs>%0A  <style type%3D%22text/css%22><%21%5BCDATA%5B%0A   /%2A X Glyph Styles %2A/%0A   .hover %7B%0A    fill%3A %23fff%3B%0A   %7D%0A   .hover-shadow %7B%0A    fill%3A %23b32c12%3B%0A   %7D%0A   %0A   /%2A Close Button Background Styles %2A/%0A   .background-hover %7B%0A    fill%3A %23d93616%3B%0A   %7D%0A  %5D%5D></style>%0A </defs>%0A <g id%3D%22close-hover%22>%0A  <rect id%3D%22background%22 x%3D%222%22 y%3D%222%22 rx%3D%222%22 width%3D%2212%22 height%3D%2212%22 class%3D%22background-hover%22 />%0A  <polygon id%3D%22close-shadow%22 points%3D%224%2C5.5 5.5%2C4 8%2C6.5 10.5%2C4 12%2C5.5 9.5%2C8 12%2C10.5 10.5%2C12 8%2C9.5 5.5%2C12 4%2C10.5 6.5%2C8%22 class%3D%22hover-shadow%22 transform%3D%22translate%280%2C1%29%22 />%0A  <polygon id%3D%22close%22 points%3D%224%2C5.5 5.5%2C4 8%2C6.5 10.5%2C4 12%2C5.5 9.5%2C8 12%2C10.5 10.5%2C12 8%2C9.5 5.5%2C12 4%2C10.5 6.5%2C8%22 class%3D%22hover%22 />%0A </g>%0A</svg>%0A");

}



.tabbrowser-tabs .tab-close-button:hover:active,

#TabsToolbar .tabs-closebutton:hover:active {

 background-image: url("data:image/svg+xml,<%3Fxml version%3D%221.0%22 encoding%3D%22utf-8%22%3F>%0A<%21DOCTYPE svg PUBLIC %22-//W3C//DTD SVG 1.1//EN%22 %22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22>%0A%0A<svg version%3D%221.1%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A     id%3D%22icon-close%22 x%3D%220px%22 y%3D%220px%22 width%3D%2216px%22 height%3D%2216px%22 viewBox%3D%220 0 16 16%22>%0A <defs>%0A  <style type%3D%22text/css%22><%21%5BCDATA%5B%0A   /%2A X Glyph Styles %2A/%0A   .hover-active %7B%0A    fill%3A %23fff%3B fill-opacity%3A .8%3B%0A   %7D%0A   .hover-active-shadow %7B%0A    fill%3A %2399260f%3B%0A   %7D%0A   %0A   /%2A Close Button Background Styles %2A/%0A   .background-hover-active %7B%0A    fill%3A %23b32c12%3B%0A   %7D%0A  %5D%5D></style>%0A </defs>%0A <g id%3D%22close-hover-active%22>%0A  <rect id%3D%22background%22 x%3D%222%22 y%3D%222%22 rx%3D%222%22 width%3D%2212%22 height%3D%2212%22 class%3D%22background-hover-active%22 />%0A  <polygon id%3D%22close-shadow%22 points%3D%224%2C5.5 5.5%2C4 8%2C6.5 10.5%2C4 12%2C5.5 9.5%2C8 12%2C10.5 10.5%2C12 8%2C9.5 5.5%2C12 4%2C10.5 6.5%2C8%22 class%3D%22hover-active-shadow%22 transform%3D%22translate%280%2C1%29%22 />%0A  <polygon id%3D%22close%22 points%3D%224%2C5.5 5.5%2C4 8%2C6.5 10.5%2C4 12%2C5.5 9.5%2C8 12%2C10.5 10.5%2C12 8%2C9.5 5.5%2C12 4%2C10.5 6.5%2C8%22 class%3D%22hover-active%22 />%0A </g>%0A</svg>%0A");

}



/* Toolbar button */



#TabsToolbar > .tabs-closebutton {

 margin-top: 5px !important;

 color: #a1a1a1 !important;

}



#TabsToolbar .tabs-closebutton .toolbarbutton-icon {

 visibility: collapse !important;

}



/* End Toolbar button */



/* Fix Tab Mix Plus close-button-on-hover mode */

.tabbrowser-tabs .tabbrowser-tab .tabs-closebutton {

 background-position: 0 5px !important;

}



/* End Close button icon */



/* Let's rotate the board! */



/* Australis-specific */



#TabsToolbar {

 padding-bottom: 2px !important;  /* That's... *not* Numberwang. */

}



.tabbrowser-tabs tab[image]:not([pinned]) .tab-icon-image + .tab-text {

 margin-left: -1px !important

}



/* Remove background tab separators */

.tabbrowser-tabs[movingtab] > .tabbrowser-tab[beforeselected]:not([last-visible-tab])::after,

.tabbrowser-tabs .tabbrowser-tab:not([selected]):not([afterselected-visible]):not([afterhovered]):not([first-visible-tab]):not(:hover)::before,

.tabbrowser-tabs:not([overflow]) > .tabbrowser-tab[last-visible-tab]:not([selected]):not([beforehovered]):not(:hover)::after {

 display: none !important;

}



/* Restore toolbar button style new tab button */



.tabbrowser-tabs .tabs-newtab-button {

 width: 26px !important;

 margin: 0 !important;

 background: none !important;

}



.tabbrowser-tabs .tabs-newtab-button > .toolbarbutton-icon {

 -moz-margin-end: 0 !important;

 padding: 2px 6px !important;

 border: 1px solid transparent !important;

 border-radius: 2px !important;

 transition-property: background-color, border-color !important;

 transition-duration: 150ms !important;

}

.tabbrowser-tabs .tabs-newtab-button:not([disabled=true]):hover > .toolbarbutton-icon {

 background-color: hsla(0,0%,100%,.3) !important;

 background-image: linear-gradient(hsla(0,0%,100%,.7), hsla(0,0%,100%,.2)) !important;

 border: 1px solid rgb(154,154,154) !important;

 box-shadow: 0 1px 0 hsla(0,0%,100%,.3) inset,

             0 0 0 1px hsla(0,0%,100%,.2) inset,

             0 1px 0 hsla(0,0%,0%,.03) !important;  /* You've been Wangernumbed! */

}



/* End Australis-specific */



/* Pre-Australis-specific */



/* In pre-Australis, #PersonalToolbar comes before [id='TabsToolbar'];

   in Australis, #PersonalToolbar comes *after* [id='TabsToolbar']. */



#PersonalToolbar ~ #TabsToolbar {

 padding-bottom: 1px !important;

}



#PersonalToolbar ~ #TabsToolbar tab {

 border-style: none !important;

 border-image: none !important;  /* wtf‽  why does a *BORDER IMAGE* set a background gradient‽ */

 background: none !important;

}



#PersonalToolbar ~ #TabsToolbar .tab-content[pinned] {

 padding: 0 3px !important;

}



#PersonalToolbar ~ #TabsToolbar tab:not([pinned]) .tab-icon-image + .tab-text,

#PersonalToolbar ~ #TabsToolbar tab[image]:not([pinned]) .tab-icon-image + .tab-text {

 margin-left: 2px !important

}



/* Restore toolbar button style new tab button */



#PersonalToolbar ~ #TabsToolbar .tabs-newtab-button {

 -moz-appearance: toolbarbutton !important;

 width: auto !important;

}



#PersonalToolbar ~ #TabsToolbar .tabs-newtab-button > .toolbarbutton-icon {

 -moz-margin-end: 0 !important;

 margin: 0 1px !important;

 padding: 0 !important;

 border-style: none !important;

 border-radius: 0 !important;

 transition-property: none !important;

 transition-duration: 0ms !important;

}



#PersonalToolbar ~ #TabsToolbar .tabs-newtab-button:not([disabled=true]):hover > .toolbarbutton-icon {

 background-color: transparent !important;

 background-image: none !important;

 border-style: none !important;

 box-shadow: none !important;

}



/* End Pre-Australis-specific */



/* Thunderbird-specific */



/* This part is also included in the Firefox distribution of this style

   in order to make maintenance easier.  "TabsToolbar" and "tabbrowser"

   are replaced appropriately for the Thunderbird distribution as

   described at the top in the header. */



#messengerWindow #TabsToolbar {

 padding-bottom: 1px !important;

}



#messengerWindow #TabsToolbar:not(:-moz-lwtheme) {

 color: -moz-menubartext !important;

}



#messengerWindow .tabbrowser-tabs .tabbrowser-tab {

 margin-bottom: 0 !important;

 color: inherit !important;

}



#messengerWindow .tabbrowser-tabs .tab-background {

 opacity: 1 !important;

}



#messengerWindow .tabbrowser-tabs .tab-text {

 border-style: none !important;

 color: inherit !important;

 opacity: 1 !important;

}



#messengerWindow .contentTabToolbox {

 border-bottom-style: none !important;

}



/* End Thunderbird-specific */



/*DEBUG

.tabbrowser-tabs .tab-stack {

 background: #ccc !important;

}

.tabbrowser-tabs .tab-stack:not([selected=true]):hover {

 background: #aaa !important;

}

.tabbrowser-tabs .tab-content,

.tabbrowser-tabs .tab-content[selected="true"],

.tabbrowser-tabs .tab-close-button,

#TabsToolbar .tabs-closebutton {

 color: #000 !important;

}

.tabbrowser-tabs .tab-text {

 background-color: #888 !important;

}

.tabbrowser-tabs .tab-close-button,

#TabsToolbar .tabs-closebutton {

 background-color: #555 !important;

}

/**/

Notes
For use with the default Firefox theme, both Australis and pre-Australis. This has only been tested on GNU/Linux.

Please restart Firefox after applying this style, or updating to the 2014-04-01 update.

If you are using Classic Theme Restorer or a similar add-on, please enable Australis-style curved tabs before applying this style.

If you would like to hide the tab bar's bottom border, the navigation bar's top and/or bottom borders, and/or the navigation bar's background gradient, use this user style. Each of those settings can be configured individually in that style's settings.

This was inspired by squid's Firefox FlatStuidoDark tabs style, but uses no code from it and does not require the GTK+ Native theme.

The window theme used in the screenshot is Bar.

This user style is licensed under the terms of the Mozilla Public License, version 2.0.

Changes:

2014-04-06:

    The recent rewrite of this style has been ported to the Thunderbird version, and this update contains the changes necessary for it to work in Thunderbird, in order to allow for easier maintenance of both versions. (Converting between the two versions involves only a couple of regular expression replacements.) There are no visible changes in this update.

2014-04-05:

    Add compatibility with Tab Mix Plus's show-tab-close-button-on-hover feature.
    Use the new close button on the global tab bar close button if it is enabled.

2014-04-04:

    The close buttons now use the style from Firefox 29, with one change: when not hovered or clicked, the close button matches the tab's text color.
    The tab text color is now set on .tab-content instead of .tab-text. This also sets tab close button's non-hover/active color.
    Removed the background gradient that appears on tabs in pre-Australis versions of Firefox.

2014-04-02:

    Bug fixes.
    Moar Numberwang.

2014-04-01:

    Complete rewrite with simplified code that is easier to read and maintain.
    Added support for Australis; pre-Australis versions of Firefox are still supported.
    Now works with Tab Mix Plus's multi-row tab bar enabled. (Thanks to makondo for suggesting to not set the tab bar's height explicitly.)
    Toolbar buttons are no longer styled specially, and the tab bar's bottom border is no longer hidden. If you would like to hide the tab bar's bottom border, the navigation bar's top and/or bottom borders, and/or the navigation bar's background gradient, use this user style. Each of those settings can be configured individually in that style's settings.
    In Australis, the non-overflow-mode New Tab button is styled like other toolbar buttons.
    License changed to Mozilla Public License, version 2.0, as I am now including (small amounts of) code from Mozilla Firefox itself, primarily to implement the change described in the previous bullet point.
    Added a hidden Numberwang HTML5 game that appears randomly when you click the tab list button in overflow mode.
    Known issues:
        When scrolling to the left in overflow mode, pinned tabs will jump one pixel to the left and back each time the scroll button is clicked.
        Tab close buttons have been Wangernumbed.

2013-05-22:

    Disabled toolbar buttons are no longer highlighted when hovered.

2013-05-18:

    Simplified tab background CSS: previously, the 4px right margin on pinned tabs was simulated by adding an extra 4px to the tab width and then using a -moz-linear-gradient to set a transparent background for these last 4 pixels of the tab and the normal background for the rest of the tab. Now, the tab background for all tabs is set on .tab-stack, and for pinned tabs, the extra 4 pixels are still added on the outer .tabbrowser-tab and the normal width (26px) is set on .tab-stack. This means that selected tab backgrounds are now set in one place instead of two, so it is easier to override this background using custom user styles.
    Fixed icon position for pinned tabs. (I had previously fixed this for myself in a separate user style, so I overlooked it when I made this one.)
    Set border-radius: 0 on .scrollbutton-up and .scrollbutton-down (fixes a cosmetic issue).

2013-05-15:

    Better support for lightweight themes as well as user styles that change the background and text color of the tabs toolbar.

2013-05-03:

    Initial release.

Feedback

Thank scottywz for creating this style by donating via PayPal: .
Discussions

No discussions posted in the last year. See older discussions. Ask a new question or add a review for this style.


