[Desktop Entry]
Type=Application
Exec=xinput set-button-map 12 1 0 3 4 5 6 7
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=CapsCtrl
Name=CapsCtrl
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=1
