[Desktop Entry]
Type=Application
Exec=setxkbmap -option 'caps:ctrl_modifier'
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=CapsCtrl
Name=CapsCtrl
Comment[en_US]=
Comment=
X-MATE-Autostart-Delay=0
